<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <meta charset="UTF-8">
        <title>Actividad 3</title>
        <h1>Actividad 3</h1>
    </head>
    <body>
        <table class="default">
            <tr>
              <td><canvas id="myChart" width="400" height="400"></canvas></td>
              <td><canvas id="grafInten" width="400" height="400"></canvas></td>
              <td><canvas id="grafComp" width="400" height="400"></canvas></td>
            </tr>
        </table>
        
            
        
        <script>
        // Global parameters:
        // do not resize the chart canvas when its container does (keep at 600x400px)
        Chart.defaults.global.responsive = false;
        
        // Definir la gráfica de tiempo
        var chartData = {
            labels : [{% for item in graficas['tiempo']['labels'] %}
            "{{item}}",
            {% endfor %}],
            datasets : [{
                label: "{{ graficas['tiempo']['legend'] }}",
                type: 'line',
                fill: false,
                smooth:true,
                lineTension: 0.1,
                backgroundColor: "rgb(70,200,150)",
                borderColor: "rgb(70,200,150)",
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in graficas['tiempo']['values'] %}
                {{item}},
                {% endfor %}],
                spanGaps: false
            },
            {
                label: "{{ graficas['intento']['legend'] }}",
                type: 'bar',
                fill: false,
                smooth:true,
                lineTension: 0.1,
                backgroundColor: "rgb(100,50,150)",
                borderColor: "rgb(100,50,150)",
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in graficas['intento']['values'] %}
                {{item}},
                {% endfor %}],
                spanGaps: false
            },
            {
                label: "{{ graficas['comple']['legend'] }}",
                fill: false,
                type: 'line',
                smooth:true,
                lineTension: 0.1,
                backgroundColor: "rgb(100,25,25)",
                borderColor: "rgb(100,0,0)",
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in graficas['comple']['values'] %}
                {{item}},
                {% endfor %}],
                spanGaps: false
            }
            
        ]
        }
        
        // Obtener los canvas de HTML
        var ctx = document.getElementById("myChart").getContext("2d");
        
        // Crear las gráfica en el canvas
        //Tiempo
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: chartData,
        });
    </script>
    </body>
</html>